@model Seleta.Models.Estabelecimento

@{
    ViewData["Title"] = "Edit";
}

<header>
    <nav class="navbar-perfil navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="menu-principal navbar-collapse collapse d-sm-inline-flex justify-content-between container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/img/Seleta.png" class="logo" alt="Logo Seleta"></a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Index" style="position: relative; left: 55%;">HOME</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-controller="Usuario" asp-action="Perfil" class="nav-link text-center" style="background-color:transparent; color: #283618; border: 1px solid #283618; font-size: 16px; font-weight: bold;
                    position: absolute; width:80px; height: 30px; top: 15%; left:85%; border-radius: 5px; padding:2px;">
                            Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Usuario" asp-action="Logout" class="nav-link text-white text-center" style="background-color: #283618; border: 1px solid #283618; font-size: 16px; position: absolute;
                            width: 80px; height: 30px; top: 15%; left: 92%; border-radius: 5px; padding:1px;">
                            Sair
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Usuario" asp-action="Login" class="nav-link text-white text-center" style="background-color: #283618; border: 1px solid #283618; font-size: 16px; position: absolute;
                            width: 80px; height: 30px; top: 15%; left: 92%; border-radius: 5px; padding:1px;">
                            Login
                        </a>
                    </li>
                }
            </ul>
        </div>


        <div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="~/css/img/menu_white_36dp.svg"></button>
        </div>
    </nav>

    <div class="mobile-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Perfil" class="nav-link text-dark">
                        Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Logout" class="nav-link text-dark">
                        Sair
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Login" class="nav-link text-dark">
                        Login
                    </a>
                </li>
            }
        </ul>
    </div>
</header>

<body style="background-color: #606C38">

    <h1 style="color: #FEFAE0">Edição do Estabelecimento</h1>
    <br />
    <h4>Estabelecimento</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Cnpj"  />
                <input type="hidden" asp-for="UsuarioCPF" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" style="background-color: #FEFAE0" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" style="background-color: #FEFAE0" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contato" class="control-label"></label>
                    <input asp-for="Contato" class="form-control" style="background-color: #FEFAE0" />
                    <span asp-validation-for="Contato" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group" style="padding-bottom: 25%">
                    <a asp-action="Index" class="btn" style="width:30%;color: #FFFFFF;background-color: #DDA15E; border-radius: 10px; border-color:#FFFFFF;">
                        Voltar
                    </a>
                    <input type="submit" value="Salvar" class="btn" style="width:30%;color: #FFFFFF;background-color: #283618; border-radius: 10px; border-color:#FFFFFF" />
                </div>
            </form>
        </div>
    </div>

    <footer class="footer-perfil">
        <div class="imagem-footer">
            <h3>Amplie sua presença online e alcance mais clientes.</h3>
            <img src="~/css/img/refeicoes-de-comida-brasileira-simples-com-copia-espaco 2.png" alt="img">
        </div>
        <div class="container">
            &copy; 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda
        </div>
    </footer>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
