@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap') 

/* GERAL */

html{
    font-size: 14px;
    font-family: 'Inter';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.02);
}

.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -5px;
    left: 1%;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}



/* LOGIN E CADASTRO */

.home-button {
    position: absolute;
    top: 40px;
    left: 4%;
    font-size: 18px;
    font-weight: 700;
    color: #283618;
    z-index: 1;
}

.home-button:hover {
    text-decoration: underline;
    color: #283618;
}

.nav-link:hover {
    text-decoration: underline;
}

.login-button {
    position: absolute;
    top: 40px;
    left: 12%;
    font-size: 18px;
    font-weight: 700;
    color: #283618;
    z-index: 1;
}

.login-button:hover {
    text-decoration: underline;
    color: #283618;
}

.voltar-button {
    position: absolute;
    top: 40px;
    left: 90%;
    font-size: 18px;
    font-weight: 700;
    color: #283618;
    z-index: 1;
}

    .voltar-button:hover {
        text-decoration: underline;
        color: #283618;
    }

    .title-content {
        position: absolute;
        width: 38%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #BC6C25;
        z-index: 0;
    }

.title-content .title {
        position: absolute;
        width: 350px;
        height: 100px;
        top: 45%;
        left: 10%;
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0px;
        text-align: left;
}

.title-content .subtitle {
    position: absolute;
    width: 420px;
    height: 100px;
    top: 30%;
    left: 10%;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
}

.title-content img {
   position: absolute;
   width: 25%;
   height: 25%;
   top: 65%;
   left: 35%;
}

.form-content {
    position: absolute;
    width: 62%;
    height: 100%;
    top: 0px;
    left: 38%;
    background-color: #FEFAE0;
}

    .form-content .caixa-login {
        position: absolute;
        width: 50%;
        height: 55%;
        top: 20%;
        left: 25%;
        border-radius: 50px;
        border: 1px solid #606C38;
        background-color: transparent;
        padding: 40px;
    }

    .form-content .caixa-cadastro {
        position: absolute;
        width: 50%;
        height: 68%;
        top: 20%;
        left: 25%;
        border-radius: 50px;
        border: 1px solid #606C38;
        background-color: transparent;
        padding: 40px;
    }

.form-login h5 {
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #283618;
}


/* PERFIL DO USU�RIO */

.navbar-perfil {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 11%;
    background-color: #FEFAE0;
    z-index: 1;
}

.menu-principal {
    font-size: 18px;
    position: absolute;
    top: 10px;
}

.conteudo-perfil {
    background-color: #606C38;
    position: absolute;
    top: 11%;
    left: 0px;
    width: 100%;
    height: 70%;
    z-index: 1;
}

.conteudo-perfil .adicionar-estabelecimento img {
    position: absolute;
    width: 8%;
    height: 25%;
    top: 10%;
    left: 30%;
    cursor: pointer;
}

    .conteudo-perfil .adicionar-estabelecimento h3 {
        position: absolute;
        width: 15%;
        height: 10%;
        top: 37%;
        left: 26.5%;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        color: #000000;
        cursor: pointer;
    }

    .conteudo-perfil .gerenciar-estabelecimento img {
        position: absolute;
        width: 8%;
        height: 25%;
        top: 8%;
        left: 55%;
        cursor: pointer;
    }

    .conteudo-perfil .gerenciar-estabelecimento h3 {
        position: absolute;
        width: 15%;
        height: 10%;
        top: 37%;
        left: 52%;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        color: #000000;
        cursor: pointer;
    }

    .conteudo-perfil .visualizar-estabelecimento img {
        position: absolute;
        width: 8%;
        height: 25%;
        top: 12%;
        left: 80%;
        cursor: pointer;
    }

    .conteudo-perfil .visualizar-estabelecimento h3 {
        position: absolute;
        width: 15%;
        height: 10%;
        top: 37%;
        left: 76.5%;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        color: #000000;
        cursor: pointer;
    }

.footer-perfil {
    background-color: #FEFAE0;
    position: absolute;
    top: 80%;
    left: 0px;
    width: 100%;
    height: 342px;
    z-index: 1;
}

    .footer-perfil .imagem-footer {
        position: absolute;
        width: 100%;
        height: 170px;
        top: 0%;
        left: 0%;
        background-color: #BC6C25BD;
    }

    .footer-perfil h3 {
        position: absolute;
        width: 22%;
        height: 20%;
        top: 15%;
        left: 5%;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
        color: #FEFAE0;
    }

    .footer-perfil img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }

        .footer-perfil .container {
            position: relative;
            top: 90%;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #283618;
        }

    /* CADASTRO DE ESTABELECIMENTO */

.footer-estabelecimento {
    background-color: #FEFAE0;
    position: absolute;
    top: 92%;
    left: 0px;
    width: 100%;
    height: 342px;
    z-index: 1;
}

    .footer-estabelecimento .imagem-footer {
        position: absolute;
        width: 100%;
        height: 170px;
        top: 0%;
        left: 0%;
        background-color: #BC6C25BD;
    }

    .footer-estabelecimento h3 {
        position: absolute;
        width: 22%;
        height: 20%;
        top: 15%;
        left: 5%;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
        color: #FEFAE0;
    }

    .footer-estabelecimento img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }

    .footer-estabelecimento .container {
        position: relative;
        top: 90%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #283618;
    }

@media screen and (max-width:767px) {

    /* GERAL */

    .menu-principal > ul > li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

        .mobile-menu-icon button {
            background-color: #283618;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 15%;
            left: 85%;
        }

            .mobile-menu-icon button:hover {
                transform: scale(1.11)
            }

    .mobile-menu ul {
        position: relative;
        top: -15px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #FEFAE0;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        display: block;
        padding-top: 1.2rem;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
    }

    .open {
        display: block;
    }


    /* P�GINA INICIAL */

    .dica-categoria {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -470px;
        left: 75%;
    }

    .dica-pesquisa {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -474px;
        left: 5%;
    }


    /* LOGIN E CADASTRO */

    .home-button {
        position: absolute;
        left: 10%;
    }

    .login-button {
        position: absolute;
        left: 30%;
    }

    .voltar-button {
        position: absolute;
        left: 80%;
    }

    .title-content {
        position: absolute;
        width: 100%;
        height: 38%;
        top: 0px;
        left: 0px;
    }

    .title-content .title {
            position: absolute;
            top: 30%;
            left: 10%;
            font-size: 2rem;
            text-align: center;
    }

     .title-content .subtitle {
            display: none;
    }

    .title-content img {
            display: none;
    }

    .form-content {
        position: absolute;
        width: 100%;
        height: 62%;
        top: 38%;
        left: 0px;
    }

    .form-content .caixa-login {
            position: absolute;
            width: 60%;
            height: 62%;
            top: 10%;
            left: 20%;
            padding: 30px;
    }

        .form-content .caixa-cadastro {
            position: absolute;
            width: 60%;
            height: 75%;
            top: 10%;
            left: 20%;
            padding: 30px;
        }


    /* PERFIL DO USU�RIO */

        .conteudo-perfil .adicionar-estabelecimento img {
            position: absolute;
            width: 15%;
            height: 10%;
            top: 30%;
            left: 42%;
        }

        .conteudo-perfil .adicionar-estabelecimento h3 {
            position: absolute;
            width: 100%;
            height: 10%;
            top: 41%;
            left: 2%;
            font-size: 16px;
        }

        .conteudo-perfil .gerenciar-estabelecimento img {
            position: absolute;
            width: 15%;
            height: 10%;
            top: 52%;
            left: 42%;
        }

        .conteudo-perfil .gerenciar-estabelecimento h3 {
            position: absolute;
            width: 100%;
            height: 10%;
            top: 63%;
            left: 2%;
            font-size: 16px;
        }

        .conteudo-perfil .visualizar-estabelecimento img {
            position: absolute;
            width: 15%;
            height: 13%;
            top: 74%;
            left: 42%;
        }

        .conteudo-perfil .visualizar-estabelecimento h3 {
            position: absolute;
            width: 100%;
            height: 10%;
            top: 85%;
            left: 2%;
            font-size: 16px;
        }


        .footer-perfil h3 {
            position: absolute;
            width: 100%;
            left: 0%;
            font-size: 20px;
            text-align: center;
        }

    .footer-perfil .container {
        font-size: 14px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {


    /* GERAL */

    .menu-principal > ul > li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

        .mobile-menu-icon button {
            background-color: #283618;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 15%;
            left: 85%;
        }

            .mobile-menu-icon button:hover {
                transform: scale(1.11)
            }

    .mobile-menu ul {
        position: relative;
        top: -15px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #FEFAE0;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        display: block;
        padding-top: 1.2rem;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
    }

    .open {
        display: block;
    }


    /* P�GINA INICIAL */

    .dica-categoria {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -260px;
        left: 68%;
        z-index: 2;
    }

    .dica-pesquisa {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -510px;
        left: 7%;
    }


    /* LOGIN E CADASTRO */

    .title-content .title {
        width: 200px;
        text-align: left;
    }

    .title-content img {
        position: absolute;
        width: 25%;
        height: 20%;
        top: 70%;
        left: 38%;
    }

    .form-content .caixa-login {
        position: absolute;
        width: 50%;
        height: 40%;
    }

    .form-content .caixa-cadastro {
        position: absolute;
        width: 50%;
        height: 50%;
    }


    /* PERFIL DO USU�RIO */
        .conteudo-perfil .adicionar-estabelecimento img {
            width: 10%;
            height: 20%;
        }

        .conteudo-perfil .adicionar-estabelecimento h3 {
            position: absolute;
            top: 33%;
            left: 27%;
            font-size: 18px;
        }

        .conteudo-perfil .gerenciar-estabelecimento img {
            width: 10%;
            height: 20%;
        }

        .conteudo-perfil .gerenciar-estabelecimento h3 {
            position: absolute;
            top: 33%;
            left: 52%;
            font-size: 18px;
        }

        .conteudo-perfil .visualizar-estabelecimento img {
            width: 10%;
            height: 20%;

        }

        .conteudo-perfil .visualizar-estabelecimento h3 {
            position: absolute;
            top: 33%;
            left: 77%;
            font-size: 18px;
        }
}

.pesquisar-por-categorias {
    margin-top: 100px
}





