<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/css/img/Seleta.png" type="image/png">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Seleta.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@300&family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header style="background-color:#FEFAE0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div>
                        <img src="~/css/img/Seleta.png" class="logo" alt="Logo Seleta" style="margin-top: 16px">
                    </div>
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div>
                        <h2 style="margin-left: 50px; font-family: 'Inter'; font-size: 25px; font-weight: 600; position: relative; top: 5px;">Seleta</h2>
                    </div>
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Usuario" asp-action="Perfil" class="nav-link text-dark">
                                    <button type="button" class="btn btn-outline-success btn-sm" style="width:100px">Perfil</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Usuario" asp-action="Logout" class="nav-link text-dark">
                                    <button type="button" class="btn btn-success btn-sm" style="background-color: #283618; width: 100px">Sair</button>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="ListaDeCompras" asp-action="Index">
                                    <button type="button" class="btn btn-success btn-sm" style="margin-top: 5px; background-color: #283618; margin: 12px">Minha Lista</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#criar-lista" class="nav-link text-dark">
                                    <button type="button" class="btn btn-outline-success btn-sm" style="margin-top:5px">Criar Lista de Compras</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Usuario" asp-action="Login">
                                    <button type="button" class="btn btn-success btn-sm" style="margin-top: 8px; background-color: #283618; margin: 12px">Login</button>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
