@model Usuario
@{
    ViewData["Title"] = "Login";
}

<a class="home-button" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>

<section class="title-content">
        <h3 class="title">BEM-VINDO (A) AO SELETA.</h3>
        <img src="~/css/img/seguranca 1.png" alt="computador">
</section>

<a class="voltar-button" asp-area="" asp-controller="Home" asp-action="Index">VOLTAR</a>

<section class="form-content">
    <div class="caixa-login">
        <form class="form-login" method="post">
            <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" style="border-radius: 10px">
                </div>
                <div class="mb-3">
                    <label asp-for="Senha"></label>
                <input asp-for="Senha" class="form-control" style="border-radius: 10px">
                </div>
                <br />
                <br />
            <button type="submit" class="btn" style="width:100%;color: #FFFFFF;background-color: #283618; border-radius: 10px">Entrar</button>

                <br />
                <br />
                <br />
                <hr / style="width:100%;">
    
                <h5>Ainda não tem cadastro?</h5>
                <a asp-controller="Usuario" asp-action="Cadastro" class="btn" style="width:100%;color: #FFFFFF;background-color: #283618; border-radius: 10px;">
                    Cadastre-se
                </a>
        </form>
    </div>
</section>
