@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Usuario
@{
    ViewData["Title"] = "Conta";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<body style="background-color: #FEFAE0">
    <section class="perfil_usuario text-center" style="background-color:#606C38">
        <div class="container">
            <div class="row p-5">
                <div class="col">
                    <div>
                        <a asp-controller="Estabelecimentos" asp-action="Create" class="adicionar-estabelecimento">
                            <img class="imagem_perfil-usuario" src="~/css/img/adicionar estabelecimento.png" alt="adicionar">
                            <h3 class="texto_perfil-usuario">ADICIONAR ESTABELECIMENTO</h3>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <a asp-controller="Estabelecimentos" asp-action="Index" class="gerenciar-estabelecimento">
                            <img class="imagem_perfil-usuario" src="~/css/img/gerenciar estabelecimento.png" alt="gerenciar">
                            <h3 class="texto_perfil-usuario">GERENCIAR ESTABELECIMENTOS</h3>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <a asp-controller="Usuario" asp-action="Details" class="visualizar-estabelecimento">
                            <img class="imagem_perfil-usuario" src="~/css/img/visualizar estabelecimento.png" alt="visualizar">
                            <h3 class="texto_perfil-usuario">VISUALIZAR PERFIL</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="perfil_usuario-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="texto_logo">Amplie sua presença online e alcance mais clientes.</h3>
                </div>
            </div>
        </div>
    </section>
</body>
<footer class="footer_ajustes" style="background-color: #283618; height:200px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="titulo_footer">SIGA-NOS NAS REDES SOCIAIS</h3>
            </div>
            <div>
                <img class="mx-3" src="~/css/img/facebook.png" alt="facebook">
                <img class="mx-3" src="~/css/img/instagram.png" alt="instagram">
            </div>
        </div>
    </div>
    <div>
        <p class="rodape_footer"> © 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
    </div>
</footer>
