@model ListaDeCompras
@{
    ViewData["Title"] = "Seleta";
}


<body style="background-color: #FEFAE0; z-index: 0;">
    <div id="carouselExampleCaptions" class="carousel slide" style="background-color:#283618; z-index: 1;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/css/img/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-3" style="letter-spacing: 15px;">SELETA</h5>
                    <p class="display-6" style="letter-spacing: 5px;">Navegue e encontre alimentos que atendam às suas restrições alimentares, simplificando suas escolhas e cuidando da sua saúde</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/css/img/banner2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-3" style="letter-spacing: 15px;">SELETA</h5>
                    <p class="display-6" style="letter-spacing: 5px;">Seja Livre para Saborear a Vida Sem Restrições</p>

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/css/img/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-3" style="letter-spacing: 15px;">SELETA</h5>
                    <p class="display-6" style="letter-spacing: 5px;" >Conecte-se a uma audiência pronta para comprar</p>
                    <p class="display-6" style="letter-spacing: 5px;">Cadastre-se no site e venda seus produtos para uma base de clientes em crescimento</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="cards-categorias">
        <h3 class="text-center my-3 my-xl-5" style="color: #283618; font-family: Inter; letter-spacing: 15px">
            CATEGORIAS
        </h3>

        <div class="container row mx-auto">
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/bebidas.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/bebidas.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/bebidas.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center" style=" font-size: 20px; font-weight: 700; letter-spacing: 4px">Bebidas</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/massas.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/massas.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/massas.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center"style="font-size: 20px; font-weight: 700; letter-spacing: 4px">Massas</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/biscoitos.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/biscoitos.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/biscoitos.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center" style="font-size: 20px; font-weight: 700; letter-spacing: 4px">Biscoitos</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/paes.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/paes.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/paes.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center"style="font-size: 20px; font-weight: 700; letter-spacing: 4px">Pães</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/refeicoes.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/refeicoes.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/refeicoes.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center"style="font-size: 20px; font-weight: 700; letter-spacing: 4px">Refeições</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-2" style="cursor:pointer;">
                <div class="card rounded-0 border-0">
                    <img class="d-md-none d-block" src="~/css/img/saladas.png"
                         alt="">
                    <img class="d-none d-md-block d-xl-none" src="~/css/img/saladas.png"
                         alt="">
                    <img class="d-none d-xl-block d-md-none" src="~/css/img/saladas.png"
                         alt="">
                    <div class="card-header text-sucess" style="background-color:#DDA15E">
                        <p class="text-center" style="font-size: 20px; font-weight: 700; letter-spacing: 4px">Saladas</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pesquisar-por-categorias d-flex justify-content-center align-items-center">
        <form action="/Filtros/Index" method="get" style="width: 75%; margin-top: 60px">
            <div class="input-group mb-3">
                <a class="btn btn-transparent border-dark text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pesquisar por
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Categoria</a></li>
                    <li><a class="dropdown-item" href="#">Localidade</a></li>
                    <li><a class="dropdown-item" href="#">Restrição Alimentar</a></li>
                </ul>
                <input type="text" class="form-control" name="filtro" placeholder="Digite aqui o que você procura" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary border-dark text-dark" type="submit" id="button-addon2">Pesquisar</button>
            </div>
        </form>
        <div class="dica-categoria">
            <img src="~/css/img/botão dica.png" alt="botão dica" style="cursor:pointer; position: absolute; width: 30px; height: 30px;top: 815px; left: 63%;" onmouseover="showConteudoCategoria()" onmouseout="hideConteudoCategoria()" />
            <p class="conteudo-categoria" style="z-index: 1; position: absolute; display: none; box-sizing: border-box; place-items: center; width: 370px; top: 805px;  left: 36%; padding: 10px;  background: #FEFAE0; border: 1px solid #000000; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px;">
                Para encontrar o(s) produto(s) que você deseja, você pode procurar de duas formas aqui no site: através da categoria do alimento ou pesquisando o nome de um produto.<br /> Caso você não tenha um produto em mente, você pode clicar em uma categoria de alimentos abaixo, que irá redirecioná-lo para uma coleção de produtos dessa categoria.
            </p>
        </div>
        <div class="dica-pesquisa">
            <img src="~/css/img/botão dica.png" alt="botão dica" style="cursor:pointer; position: absolute; width: 30px; height: 30px;top: 1725px; left: 9%;" onmouseover="showConteudoPesquisa()" onmouseout="hideConteudoPesquisa()" />
            <p class="conteudo-pesquisa" style="z-index: 2; position: absolute; display: none; box-sizing: border-box; place-items: center; width: 370px; top: 1725px;  left: 11%; padding: 10px;  background: #FEFAE0; border: 1px solid #000000; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px;">
                Caso você queira achar algo específico, use o campo de pesquisa ao lado e escreva o nome do produto que deseja. Utilize os filtros de localidade e restrição alimentar para que sua busca seja a mais precisa possível.
            </p>
        </div>
    </section>


<section class="dicas-home">
    <div class="primeiro-passo">
        <h4>
            1. Explore os produtos
        </h4>
        <p>
            Use a barra de pesquisa para encontrar itens específicos</p>
        <img src="~/css/img/motor-de-busca 1.png" alt="buscar produtos">
    </div>
    <div class="segundo-passo">
        <h4>
            2. Crie listas de compras</h4>
        <p>
            Insira seu endereço de e-mail no campo abaixo e clique em "Criar lista"</p>
        <img src="~/css/img/lista-de-controle 1.png" alt="lista de compras">
    </div>
    <div class="terceiro-passo">
        <h4>
            3. Adicione os itens à sua lista</h4>
        <p>
            Escolha os produtos que deseja comprar e clique em "Adicionar à lista"</p>
        <img src="~/css/img/adicionar-ficheiro 1.png" alt="adicionar produto">
    </div>
</section>

<section class="lista-compras-home">
    <div class="container text-center mt-3">
        <div class="row align-items-center">
            <div class="col">
                <p class="display-4 text-start bold"><strong>CRIE LISTA DE COMPRAS SEM FAZER LOGIN</strong></p>
            </div>
            <div class="col">
                @using (Html.BeginForm("ConsultaLista", "ListaDeCompras", FormMethod.Post))
                {
                    <div>
                        <input asp-for="Email" type="text" class="border form-control text-center" placeholder="Digite aqui seu endereço de email" />
                    </div>
                    <div asp-validation-summary="All"></div>
                    <button type="submit" class="btn mt-3" style="width:50%;color: #FFFFFF;background-color: #BC6C25; border-radius: 10px">CRIAR LISTA</button>
                }
            </div>
        </div>
    </div>
</section>

<footer class="footer-home">
    <h3>SIGA-NOS NAS REDES SOCIAIS</h3>
    <h4>ENTRE EM CONTATO</h4>
    <img src="~/css/img/facebook.png" alt="facebook" style="position: relative; width: 30px; height: 33.06px; top: 5%; left: 5%;">
    <img src="~/css/img/instagram.png" alt="instagram" style="position: relative; width: 35px; height: 35px; top: 5%; left: 7%;">
    <p> &copy; 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
</footer>
