@model Seleta.Models.Produto

@{
    ViewData["Title"] = "Cadastrar produto";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<head>
    <title> Cadastrar Produto</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">

</head>

<header>
    <nav class="navbar-perfil navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="menu-principal navbar-collapse collapse d-sm-inline-flex justify-content-between container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/img/Seleta.png" class="logo" alt="Logo Seleta"></a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Index" style="position: relative; left: 55%;">HOME</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Perfil" class="nav-link text-center" style="background-color:transparent; color: #283618; border: 1px solid #283618; font-size: 16px; font-weight: bold;
                    position: absolute; width:80px; height: 30px; top: 15%; left:85%; border-radius: 5px; padding:2px;">
                        Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Logout" class="nav-link text-white text-center" style="background-color: #283618; border: 1px solid #283618; font-size: 16px; position: absolute;
                            width: 80px; height: 30px; top: 15%; left: 92%; border-radius: 5px; padding:1px;">
                        Sair
                    </a>
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a asp-controller="Usuario" asp-action="Login" class="nav-link text-white text-center" style="background-color: #283618; border: 1px solid #283618; font-size: 16px; position: absolute;
                            width: 80px; height: 30px; top: 15%; left: 92%; border-radius: 5px; padding:1px;">
                        Login
                    </a>
                </li>
                }
            </ul>
        </div>


        <div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="~/css/img/menu_white_36dp.svg"></button>
        </div>
    </nav>

    <div class="mobile-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
            <li class="nav-item">
                <a asp-controller="Usuario" asp-action="Perfil" class="nav-link text-dark">
                    Perfil
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Usuario" asp-action="Logout" class="nav-link text-dark">
                    Sair
                </a>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a asp-controller="Usuario" asp-action="Login" class="nav-link text-dark">
                    Login
                </a>
            </li>
            }
        </ul>
    </div>
</header>

<body style="background-color: #606C38; height: 80%">
    <div class="mb-3" style="position: absolute; width: 100%; top: 0; left: 0;">
        <div class="mb-3">

            <h1 style="color: #FEFAE0;padding-top: 5%; margin-left: 2%">Cadastrar Produto</h1>
            
            <hr / style="position: relative; width: 520px; left: 2%; color: #FEFAE0;">

            <div class="row" style="color: #FEFAE0">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create" enctype="multipart/form-data" style="margin-left: 7%">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" style="background-color: #D9D9D980; border: 1px solid #283618;" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Preco" class="control-label"></label>
                                <input asp-for="Preco" class="form-control" placeholder="R$0,00" style="background-color: #D9D9D980; border: 1px solid #283618;" />
                                <span asp-validation-for="Preco" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuantidadePeso" class="control-label"></label>
                                <input asp-for="QuantidadePeso" class="form-control" placeholder="Informar gramas(g), mililitro (ml) ou unidade(un)" style="background-color: #D9D9D980; border: 1px solid #283618;" />
                                <span asp-validation-for="QuantidadePeso" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Categoria" class="control-label"></label>
                                <select asp-for="Categoria" class="form-control" style="background-color: #D9D9D980; border: 1px solid #283618;" asp-items="Html.GetEnumSelectList<TipoCategoria>()" multiple size="3"></select>
                                <span asp-validation-for="Categoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <textarea asp-for="Descricao" class="form-control" rows="" style="background-color: #D9D9D980; border: 1px solid #283618;" placeholder="Insira informações relevantes sobre o produto."></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                     
                            <div class="form-group">
                                <label asp-for="Restricoes" class="control-label"></label>
                                <select asp-for="Restricoes" class="form-control" style="background-color: #D9D9D980; border: 1px solid #283618;" asp-items="Html.GetEnumSelectList<Restricoes>()" multiple size="5"></select>
                                <span asp-validation-for="Restricoes" class="text-danger"></span>
                            </div>                         
                            <div class="form-group">
                                <label asp-for="CnpjEstabelecimento" class="control-label"></label>
                                <select asp-for="CnpjEstabelecimento" class="form-control" style="background-color: #D9D9D980; border: 1px solid #283618;" asp-items="ViewBag.CnpjEstabelecimento"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Imagem" class="control-label">Imagem do Produto</label>
                                <input asp-for="Imagem" name="imagem" type="file" id="inputImagem" accept="image/*" onchange="previewImage()" class=" form-control" style="background-color: #D9D9D980; border: 1px solid #283618;" />
                                <span asp-validation-for="Imagem" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <img id="preview" alt="Pré-visualização" style="max-width: 100%; max-height: 200px;" />
                            </div>
                            <br />
                            <div class="form-group">
                                <a asp-action="Index" class="btn" style="width:30%;color: #FFFFFF;background-color: #283618; border-radius: 10px; border: 1px solid #283618;;">
                                    Voltar
                                </a>
                                <input type="submit" value="Cadastrar" class="btn" style="width:30%;color: #FFFFFF;background-color: #DDA15E; border-radius: 10px; border: 1px solid #DDA15E;" />
                            </div>
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function previewImage() {
        var input = document.getElementById('inputImagem');
        var preview = document.getElementById('preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
